{% extends "base.html.twig" %}

{% block title %}{{ category.name }} | {{ generator.name }} | Generators{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/full-width.css">
{% endblock %}

{% block content %}
<header>
    <figure><img src="/images/monster.png"></figure>

    <h1>{{ category.name }}</h1>
    <h4>{{ monster.categoryNote }}</h4>
</header>
<section>
    <div class="flex-grid">
        <div class="col">
            <h3>{{ monster.name }}</h3>
            <p>{{ monster.level }}</p>
            <p>{{ monster.life }}</p>
            <p>{{ monster.attacks }}</p>
            <p>{{ monster.morale }}</p>

        </div>
        <div class="bulk">
            <p>{{ monster.attackNotes }}</p>
            <hr>
            <p>{{ monster.reactions }}</p>
            <hr>
            <p>{{ monster.specialNotes }}</p>
        </div>
        <div class="col">
            <p>{{ monster.treasure }}</p>
            <hr>
            <p>{{ monster.source }}</p>

        </div>
    </div>
</section>
{% endblock content %}