{% extends "base.html.twig" %}

{% block title %}{{ category.name }} | {{ generator.name }} | Generators{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/full-width.css">
{% endblock %}

{% block content %}
<header>
    <figure><img src="/images/fad3.png"></figure>
    <h1>{{ category.name }}</h1>
    <h4>{{ monster.categoryNote }}</h4>
</header>
<section>
    <div class="flex-grid">
        <div class="col">
            <h3>{{ monster.name }}</h3>
            {% if not monster.level is empty %}
                <p>{{ monster.level }}</p>
            {% endif %}
            {% if not monster.life is empty %}
                <p>{{ monster.life }}</p>
            {% endif %}
            {% if not monster.attacks is empty %}
                <p>{{ monster.attacks }}</p>
            {% endif %}
            {% if not monster.morale is empty %}
                <p>{{ monster.morale }}</p>
            {% endif %}
        </div>
        <div class="col bulk lined">
            {% if not monster.attackNotes is empty %}
                <p>{{ monster.attackNotes }}</p>
            {% endif %}
            {% if not monster.reactions is empty %}
                <p>{{ monster.reactions }}</p>
            {% endif %}
            {% if not monster.specialNotes is empty %}
                <p>{{ monster.specialNotes }}</p>
            {% endif %}
        </div>
        <div class="col lined">
            {% if not monster.treasure is empty %}
                <p>{{ monster.treasure }}</p>
            {% endif %}
            {% if not monster.source is empty %}
                <p>{{ monster.source }}</p>
            {% endif %}

        </div>
    </div>
</section>
<section class="buttons">
    <a href="{{ url_for('category', { 'generator': generator.slug }) }}" class="button back">Back</a>
</section>
{% endblock content %}